<a href="https://colab.research.google.com/github/semreyalcin/CNG562-HW2/blob/master/Yalcin_otto_group_product_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Selim Emre Yalçın
2152205

Otto Group Product Classifiacation

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
train_url = 'https://raw.githubusercontent.com/semreyalcin/CNG562-HW2/master/Otto%20Group%20Product%20Classification/train.csv'
data = pd.read_csv(train_url)
data.head()

   id  feat_1  feat_2  feat_3  ...  feat_91  feat_92  feat_93   target
0   1       1       0       0  ...        0        0        0  Class_1
1   2       0       0       0  ...        0        0        0  Class_1
2   3       0       0       0  ...        0        0        0  Class_1
3   4       1       0       0  ...        0        0        0  Class_1
4   5       0       0       0  ...        0        0        0  Class_1

[5 rows x 95 columns]

In [2]:
y = data['target']
X = data.drop(['target','id'],axis = 1)
data.head(),X.head(),y.head()

(   id  feat_1  feat_2  feat_3  ...  feat_91  feat_92  feat_93   target
 0   1       1       0       0  ...        0        0        0  Class_1
 1   2       0       0       0  ...        0        0        0  Class_1
 2   3       0       0       0  ...        0        0        0  Class_1
 3   4       1       0       0  ...        0        0        0  Class_1
 4   5       0       0       0  ...        0        0        0  Class_1

 [5 rows x 95 columns],
    feat_1  feat_2  feat_3  feat_4  ...  feat_90  feat_91  feat_92  feat_93
 0       1       0       0       0  ...        0        0        0        0
 1       0       0       0       0  ...        0        0        0        0
 2       0       0       0       0  ...        0        0        0        0
 3       1       0       0       1  ...        0        0        0        0
 4       0       0       0       0  ...        1        0        0        0

 [5 rows x 93 columns],
 0    Class_1
 1    Class_1
 2    Class_1
 3    Class_1
 4    Class_1
 Name: target, dtype: object)

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [15]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(solver='lbfgs', 
                    alpha=1e-5,
                    hidden_layer_sizes=(25, 9), 
                    random_state=1)

mlp.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(25, 9), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,mlp.predict(X_test))

0.7743212669683258